@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Rajdhani:wght@100;200;300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}

.plane-common {
  overflow: hidden;
  position: fixed;
  top: 0;
  /* background-color: chartreuse; */
  left: 0;
  width: 20%;
  height: 100vh;
  z-index: 20;
}

.plane-h1-common {
  position: absolute;
  top: 50vh;
  color: black;
  font-weight: bold;
  left: 50vw;
  line-height: 1;
  transform: translate(-50%, -50%);
}

.motion-scale-plane-1 {
  background-color: rgb(197, 43, 43);
  left: -40%;
}

.motion-scale-h1-1 {
  left: calc(50vw + 200%);
}

.motion-scale-plane0 {
  background-color: rgb(255, 255, 255);
  left: -20%;
}

.motion-scale-h10 {
  left: calc(50vw + 100%);
}

.motion-scale-plane2 {
  background-color: blueviolet;
  left: 20%;
}

.motion-scale-h12 {
  left: calc(50vw - 100%);
}

.motion-scale-plane3 {
  background-color: brown;
  left: 40%;
}
.motion-scale-h13 {
  left: calc(50vw - 200%);
}

.motion-scale-plane4 {
  background-color: aqua;
  left: 60%;
}
.motion-scale-h14 {
  left: calc(50vw - 300%);
}

.motion-scale-plane5 {
  background-color: rgb(194, 35, 180);
  left: 80%;
}
.motion-scale-h15 {
  left: calc(50vw - 400%);
}

.motion-scale-plane6 {
  background-color: rgb(107, 58, 103);
  left: 100%;
}
.motion-scale-h16 {
  left: calc(50vw - 500%);
}

.motion-scale-plane7 {
  background-color: rgb(79, 171, 190);
  left: 120%;
}
.motion-scale-h17 {
  left: calc(50vw - 600%);
}

.motion-scale-plane8 {
  background-color: blueviolet;
  left: 140%;
}

.motion-scale-h18 {
  left: calc(50vw - 700%);
}

.max-width {
  @apply mx-auto w-[90%] max-w-[1500px];
}

@media screen and (max-width: 736px) {
  .max-width {
    @apply mx-auto w-[100%] pl-[8px] pr-[8px] max-w-[1500px];
  }
}

.flex-center {
  @apply flex justify-center items-center;
}

.d-mode {
  @apply duration-[400ms] ease-out;
}
.animate-shake-1 {
  animation: animation-shake 1.5s linear infinite;
  animation-delay: 1s;
}
.animate-shake-2 {
  animation: animation-shake 1.5s linear infinite;
  animation-delay: 1.5s;
}
.animate-shake-3 {
  animation: animation-shake 1.5s linear infinite;
  animation-delay: 1.8s;
}
.animate-shake-4 {
  animation: animation-shake 1.5s linear infinite;
  animation-delay: 0.8s;
}

@keyframes animation-shake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-1.5px, 0);
  }
  40% {
    transform: translate(0, 1.5px);
  }
  60% {
    transform: translate(1.5px, 0);
  }
  80% {
    transform: translate(0, 1.5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
